/* Styles spécifiques pour la page enfants */
.enfants .button-grid {
  display: flex; /* Utiliser Flexbox pour aligner les boutons en ligne */
  flex-direction: row; /* Disposer les boutons en ligne */
  flex-wrap: wrap; /* Permettre aux boutons de passer à la ligne suivante si nécessaire */
  gap: 20px;
  justify-content: center; /* Centrer les boutons horizontalement */
}

.enfants .button {
  margin: 10px; /* Réduire la marge pour les boutons sur la page enfants */
}

.enfants .button img {
  width: 100px; /* Réduire la taille des images sur la page enfants */
  height: 100px;
}

.enfants .button span {
  font-size: 1rem; /* Réduire la taille du texte sur la page enfants */
}

/* Styles pour les détails sur la page enfants */
.details {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.detail-image {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

.detail-text {
  flex: 1;
}

.detail-text h2 {
  margin-top: 0;
}

.detail-text p {
  line-height: 1.6;
}

/* Styles pour la div.details */
.details {
  display: flex;
  flex-direction: row; /* Par défaut, l'image sera après le texte */
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.detail-text {
  flex: 1;
}

.detail-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Media queries pour les petits écrans */
@media (max-width: 768px) {
  .details {
    flex-direction: column; /* Sur les petits écrans, empiler le texte et l'image */
  }

  .detail-image {
    order: -1; /* Placer l'image avant le texte */
    margin-bottom: 20px; /* Ajouter un espace sous l'image */
  }
}
