/* Styles globaux */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* Styles pour le menu hamburger */
.menu-toggle {
  display: none; /* Cacher par défaut sur les grands écrans */
}

.menu-toggle input[type='checkbox'] {
  display: none;
}

.menu-toggle label {
  display: none; /* Cacher le label par défaut */
}

.menu-toggle .bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  display: block;
  margin: 5px auto;
  transition: background-color 0.3s, transform 0.3s;
}

.menu-toggle input[type='checkbox']:checked + label .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

.menu-toggle input[type='checkbox']:checked + label .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle input[type='checkbox']:checked + label .bar:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #2980b9;
}

/* Styles pour les boutons sur la page d'accueil */
.button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes pour grands écrans */
  gap: 20px;
  justify-items: center; /* Centrer chaque bouton horizontalement */
  padding: 20px;
}

.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 20px;
}

.button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.button span {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
}

.button:hover img {
  transform: scale(1.1);
}

.button:hover span {
  color: #3498db;
}

/* Styles pour le header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db;
  color: white;
  padding: 20px 30px;
}

header h1 {
  font-size: 4rem;
  margin: 0;
  flex: 1; /* Permet de centrer le titre en utilisant l'espace restant */
  text-align: center; /* Centre le texte à l'intérieur du conteneur */
}

header a {
  color: inherit; /* Hériter la couleur du texte du h1 */
  text-decoration: none;
}

.instagram-button {
  background: url('https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png')
    no-repeat center center;
  background-size: cover;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.instagram-button a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px; /* Cache le texte du lien */
}

.instagram-button img {
  width: 24px;
  height: 24px;
}

.instagram-button:hover {
  background-color: #f1f1f1; /* Couleur de fond au survol */
}

/* Styles pour la div.details */
.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.detail-text {
  flex: 1;
}

.detail-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Media queries pour les petits écrans */
@media (max-width: 768px) {
  .details {
    flex-direction: column;
  }

  .detail-image {
    order: -1;
    margin-bottom: 20px;
  }
}

/* Styles pour le footer */
footer {
  background-color: #2c3e50;
  color: white;
  text-align: center; /* Centre le texte horizontalement */
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0; /* Assure qu'il n'y a pas de marge externe */
}

/* Media queries pour les écrans moyens */
@media (max-width: 768px) {
  .button-grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Grille avec 2 colonnes pour les écrans moyens */
  }

  .details {
    flex-direction: column; /* Colonne sur les petits écrans */
    text-align: center;
  }

  .detail-image {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px; /* Ajuste la taille de l'image */
  }

  .menu-toggle {
    display: block; /* Afficher le menu hamburger sur les petits écrans */
  }
}

/* Media queries pour les petits écrans */
@media (max-width: 480px) {
  .button-grid {
    grid-template-columns: 1fr; /* Une seule colonne pour les petits écrans */
  }

  .button img {
    width: 100px; /* Réduire la taille des images sur mobile */
    height: 100px;
  }
}

/* Media queries pour les grands écrans */
@media (min-width: 1200px) {
  .button-grid {
    grid-template-columns: repeat(
      3,
      1fr
    ); /* Assurez-vous de 3 colonnes pour les grands écrans */
  }

  .button img {
    width: 200px; /* Augmenter la taille des images sur grand écran */
    height: 200px;
  }

  .button span {
    font-size: 1.5rem; /* Augmenter la taille du texte sur grand écran */
  }
}

/* Styles pour le lien du titre dans l'en-tête */
.logo-link {
  text-decoration: none;
  color: inherit;
}

.logo-link h1 {
  margin: 0;
  font-size: 4rem; /* Taille de la police du titre */
}

hr.divider {
  border: 0;
  height: 2px;
  background: #255189; /* Couleur de la barre */
  margin: 5px 0; /* Espacement au-dessus et au-dessous */
}
